.scroll-bar {
    -fx-shape: " ";
    -fx-border-color: #3c3352;
}

#filter {
    -fx-background-color: #3c3352;
}

#filter:hover {
    -fx-background-color: #359768;
}

#filterPane {
    -fx-background-radius: 4%;
    -fx-background-color: #3c3352;
}

#activity {
    -fx-background-radius: 2%;
    -fx-background-color: #a7d46f;
}

#scrollPane {
    -fx-background: #ffed8f;
    -fx-background-color: #359768;
}

#scrollPane:hover {
    -fx-background-color: #a7d46f;
    -fx-background: #ffed8f;
}

#tagRelated{
    -fx-background-color: #359768 !important;
    -fx-color:#359768 !important;
}

#summary:hover {
    -fx-opacity: 1;
}

#cancel {
    -fx-background-color: rgba(109, 18, 39, 0.86);
    -fx-text-fill: #ffed8f;
}

#cancel:hover {
    -fx-background-color: darkred;
    -fx-text-fill: #ffed8f;
}

#submit {
    -fx-background-color: #359768;
    -fx-text-fill: #ffed8f;
    -fx-opacity: 0.8;
}

#submit:hover {
    -fx-background-color: #359768;
    -fx-opacity: 1;
}

#error {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 1%;
}

/*colors{*/
/*    #ffed8f;  */
/*    #a7d46f; */
/*    #359768;  */
/*    #3c3352;  */
/*}*/
